#logging {
    display: none;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    background-color: #F1F7ED;
    margin: 0;
    height: 100vh; /* Set height to viewport height for vertical centering */
}

.primary {
    color: #243E36;
}

#message{
    padding-top: 5rem;
}



.heading {
    margin-left: 10rem;
    font-size: 90px;
    font-family: Cy Grotesk Key;
    color: #243E36;
    
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.subheading {
 margin-left: 15rem;
 
 margin-bottom: 8rem;
}

.toptext{
    font-family: Cy Grotesk Key;
    color: #243E36;
    margin-bottom: 5rem;
    font-size: 45px;
    font-weight: bold;
    

}

.bottomtext{
    
    font-size: 18px;
}

.button-link {
  display: inline-block;
  padding: 25px 35px;
  background-color: #243E36;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  transition: background-color 0.1s ease, padding 0.2s ease;
}

.button-link:hover {
  background-color: #5A7970; 
  cursor: pointer;
  padding: 30px 40px;
}
.formbuttons
{
    margin-top: 7rem;
}

.formbuttons button{
    margin-left: 1rem;
    font-weight: bold;
}

.montserrat-2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#login {
    color: #E0EEC6;
}

hr {
    border: none; /* Remove default border */
    height: 2px; /* Set height to make it visible */
    background-color: black; /* Set background color */
    width: 80%; /* Set width to fill the container */
    margin-top: -3rem; /* Adjust the position */
}



.loginform input{
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;

}

.circle {
  background-color: #243E36;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 35%;
  animation: moveCircle 3s ease-in-out infinite;
}

#registerform
{
    display: none;
}

@keyframes moveCircle {
  0% {
    transform: translate(0, -40%);
  }

  50% {
    transform: translate(0, 40%);
  }
  
  100% {
    transform: translate(0, -40%);
  }
}

.spacer {
    aspect-ratio: 1600/800;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./svg/register.svg');
}

@media screen and (max-width: 1355px) {
    .circle {
  position: relative; /* Change position to relative */
  top: 30px; /* Adjust the value to move the circle down */
  left: auto; /* Reset left */
  z-index: -1; /* Move the circle behind other elements */
}

.toptext{
    
    font-size: 30px;
   
    

}

@keyframes moveCircle {
  0% {
    transform: translate(0, -5%);
  }

  50% {
    transform: translate(0, 5%);
  }
  
  100% {
    transform: translate(0, -5%);
  }
}


  .container {
    flex-direction: column;
    align-items: center;
  }

  .heading {
    margin-left: 0;
    text-align: center; /* Center align text */
    font-size: 40px; /* Adjust font size for smaller screens */
  }

  .subheading {
    margin-left: 0;
    margin-bottom: 3rem; /* Adjust margin bottom for smaller screens */
    text-align: center; /* Center align text */
  }

  /* Adjust any other styles as needed for smaller screens */
}