.background {
    background-color: #3b5827;
}

.button-link {
    display: inline-block;
    padding: 25px 35px;
    background-color: #243E36;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px;
    transition: background-color 0.1s ease, padding 0.2s ease;
}

.custom-label {
    padding-left: 7rem;
}

.button {
    padding-left: 6rem;
}

.primarybackground {
    background-color: #F1F7ED;
    /* darker */
}

.navbar {
    background-color: #F1F7ED;
}

.secondarybackground {
    background-color: #E4E4DE;
    /* lighter */
}

.tertiarybackground {
    background-color: #595f39;
    /* dark green */
}

.quaternarybackground {
    background-color: 1B1B1B;
}

.home {
    color: #243E36;
    font-size: 4rem;
    text-decoration: none;
}

.greentext {
    color: #243E36;
}

.whitetext {
    color: white;
}

.nohover:hover {
    text-decoration: none;
    color: inherit;
}

.bg-img {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#homeicon {
    width: 90px;
    height: auto;
}

.lighterbackground {
    background-color: #354E56;

}

.goldenbackground {
    background-color: #8B6212;
    /*yarrow gold */
}

.formbackground {
    background-color: #C4C5BA;
}

.nopadding {
    padding: 0;
}

.formborder {
    border: 5px;
    border-radius: 10px;

}





@media only screen and (max-width: 991px) {
    .navbar-nav {
        display: none;
    }

    #welcome {
        display: none;
    }

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        margin-top: 10px;
    }

    .d-flex.align-items-center {
        justify-content: center;
    }
}


.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.spacer2 {
    aspect-ratio: 1213/790;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.spacer3 {
    aspect-ratio: 900/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer1 {
    background-image: url('../svg/waves.svg');
}

.layer2 {
    background-image: url('../svg/wavesbottomtest.svg');
}

.layer3 {
    background-image: url('../svg/wavesfooter.svg');
}

.entrypadding {
    padding-top: 7rem;
}

.footercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: flex;

    list-style-type: none;


}

.links li {
    color: white;

    margin: 10px 5px 0 0;
}